<h2 class="page-header">My Todos</h2>
<hr>
Todos:
<li>{{todo}}</li>

<hr>
<a href="/users/todos/new"><button class="btn btn-success">New Todo</button></a>

<script src="../js/knockout-3.4.2.js"></script>
<script src="../js/todoViewModel.js"></script>